<ion-view title="Home" id="page2" ng-controller="homeCtrl as $ctrl">
  <ion-content padding="true" class="has-header">
    <ion-list id="home-list4">
      <ion-item class="item-thumbnail-left item-icon-right" id="home-list-item2" ng-repeat="post in $ctrl.data">
        <h2>{{ post.name }}</h2>
        <p>{{ post.username }}</p>
        <i class="icon {{ post.icon }}"></i>
        <ion-option-button ng-click="$ctrl.downloadMedia(post)" class="button-royal">DOWNLOAD</ion-option-button>
        <ion-option-button ng-click="$ctrl.streamMedia(post)"  class="button-energized">VIEW</ion-option-button>
      </ion-item>
    </ion-list>
    <video autoplay ="autoplay" preload="metadata" controls="controls" webkit-playsinline="webkit-playsinline"  class="VideoPlayer"><source src="eggnogg:8000/uploads/upload_7c395c7ade8bd5f7b1424fc67cbfe840_keeganBnB_github.mov" type="video/mov"/>

    </video>
  </ion-content>
</ion-view>
