<ion-view title="Profile" id="page4">
  <ion-content padding="true" class="has-header">
    <ion-list id="profile-list5">
      <ion-item class="item-avatar" id="profile-list-item3">
        <h2>BOB USER</h2>
        <p>1000 uploads</p>
      </ion-item>
      <ion-item class="item-icon-left" id="profile-list-item4">
        <i class="icon ion-information-circled"></i>information</ion-item>
      <ion-list id="profile-list6">
        <ion-item class="item-icon-right" id="profile-list-item8">NAME
          <i class="icon ion-android-person"></i>
          <ion-option-button class="button-assertive">DELETE</ion-option-button>
          <ion-option-button class="button-calm">EDIT</ion-option-button>
        </ion-item>
        <ion-item class="item-icon-right" id="profile-list-item9">EMAIL
          <i class="icon ion-ios-email"></i>
          <ion-option-button class="button-assertive">DELETE</ion-option-button>
          <ion-option-button class="button-calm">EDIT</ion-option-button>
        </ion-item>
        <ion-item class="item-icon-right" id="profile-list-item10">PASSWORD
          <i class="icon ion-pound"></i>
          <ion-option-button class="button-assertive">DELETE</ion-option-button>
          <ion-option-button class="button-calm">EDIT</ion-option-button>
        </ion-item>
        <ion-item class="item-icon-right" id="profile-list-item17">UPLOADS
          <i class="icon ion-ios-film"></i>
        </ion-item>
      </ion-list>
    </ion-list>
  </ion-content>
</ion-view>