<ion-view title="Search" id="page3">
  <ion-content padding="true" class="has-header">
    <h1 id="search-heading2" style="color:#000000;text-align:center;">Search</h1>
    <form id="search-form5" class="list">
      <label class="item item-input" id="search-input7">
        <span class="input-label">Search</span>
        <input type="text" placeholder="Input text here...">
      </label>
      <button id="search-button6" class="button button-positive  button-block">Search!</button>
    </form>
  </ion-content>
</ion-view>