body {
  cursor: url('http://ionicframework.com/img/finger.png'), auto;
}

.modal {
  background: transparent !important;
}

.fullscreenModal {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
}
